<div>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>

  <div style="position: absolute; bottom: 5px">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="users" class="nav-link">Usuarios</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link">Agregar</a>
        </li>
        <li class="nav-item">
          <a routerLink="tasks" class="nav-link">Tareas</a>
        </li>
        <li class="nav-item">
          <a routerLink="addTask" class="nav-link">Agregar Tarea</a>
        </li>
      </div>
    </nav>
  </div>
  
</div>
